version: '3.1'
services:
    # mongo-stag:
    #     image: mongo
    #     restart: always
    #     environment:
    #       MONGO_INITDB_ROOT_USERNAME: root
    #       MONGO_INITDB_ROOT_PASSWORD: 24plus
    #     ports:
    #      - 27019:27017
    #     volumes:
    #       - ./stag-data:/data/db
    #     networks:
    #       - 24hplus-stag
    24plus-server-stag:
        build: .
        restart: always
        ports:
          - 8080:80
          - 8090:443
        environment:
          ASPNETCORE_ENVIRONMENT: Development
          ASPNETCORE_URLS: https://+:443;http://+:80
          ASPNETCORE_Kestrel__Certificates__Default__Password: f0c346c779fa39b102001c5c90b5a449
          ASPNETCORE_Kestrel__Certificates__Default__Path: /app/mobileapp/ssl/certificate.pfx
          # MongoDB__Host: mongo
        # depends_on:
        #   - mongo-stag
        volumes:
          - ./mobileapp:/app/mobileapp
          - ./logs:/app/logs
          - ./FileUpload:/app/FileUpload
        networks:
          - 24hplus-stag
    # system-prune:
    #     image: docker
    #     volumes:
    #       - "/var/run/docker.sock:/var/run/docker.sock"
    #     command: docker system prune --all --force
networks:
    24hplus-stag:
        external: true
